# Environment variables for the To-Do API
PORT=
FRONTEND_URL=

# MongoDB connection
MONGODB_URI=
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_DB=

# JWT configuration
JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
NODE_ENV=